In [1]:
print("Hello world")

Hello world

In [4]:
import pandas as pd

In [11]:
# load data

dataframe = pd.read_csv("students.csv")

In [15]:
print(dataframe)

   Student ID  Hours_Studied  Marks
0           1              1     20
1           2              2     35
2           3              3     50
3           4              4     65
4           5              5     80
5           6              6     90
6           7              7     95

In [13]:
dataframe

   Student ID  Hours_Studied  Marks
0           1              1     20
1           2              2     35
2           3              3     50
3           4              4     65
4           5              5     80
5           6              6     90
6           7              7     95